<div class="modal" tabindex="-1" [class.show]="showModal" [ngStyle]="{'display': showModal ? 'block' : 'none'}">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Tarefa</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Título:</label>
          <input [(ngModel)]="task.title" class="form-control">
        </div>
        <div class="form-group">
          <label>Descrição:</label>
          <textarea [(ngModel)]="task.description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="completed">Completa?:</label>
          <input type="checkbox" [(ngModel)]="task.completed" id="completed">
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
      </div>
    </div>
  </div>
</div>
